.timeline-container {
  width: 100%;
  margin-top: 10px;
  padding: 0 20px;
  border-radius: 8px;
}

.timeline {
  position: relative;
  padding: 0;
  margin: 0;
  border-left: dashed 1px #005cbb;
}

.timeline-item {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #005cbb;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 15px;
  position: relative;
  top: 0;
  margin-left: -15px;
  color: white;
}

.timeline-dot fa-icon {
  font-size: 22px;
  margin: 0;
}

.timeline-content {
  padding: 10px 15px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 92, 187, 0.03);
  flex-grow: 1;
}

.timeline-content h3 {
  margin: 0 0 5px;
  font-size: 16px;
  color: #3f51b5;
}

.timeline-content p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  width: 2px;
  background: #ddd;
  z-index: -1;
}

.empty-timeline {
  text-align: center;
  padding: 20px;
  color: #777;
  font-size: 1em;
}

.empty-timeline .empty-icon {
  font-size: 2em;
  margin-bottom: 10px;
  color: #ffa500; /* Matches orange in your color palette */
}
