<mat-card class="mat-card">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <mat-form-field class="w-50" subscriptSizing="dynamic">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. File Title" #input>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="openCreateFileDialog()">
      <fa-icon class="me-2 " [icon]="faFolderPlus"></fa-icon>
      Add
    </button>
  </div>
  <mat-table [dataSource]="dataSource" class="custom-table">
    <!-- File ID Column -->
    <ng-container matColumnDef="fileNo">
      <mat-header-cell mat-header-cell *matHeaderCellDef> File ID </mat-header-cell>
      <mat-cell *matCellDef="let file" (click)="openFile(file.fileNo)"> {{file.fileNo}} </mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="fileTitle">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let file" (click)="openFile(file.fileNo)"> {{file.fileTitle}} </mat-cell>
    </ng-container>

    <!-- Subject Column -->
    <ng-container matColumnDef="fileSubject">
      <mat-header-cell *matHeaderCellDef> Subject </mat-header-cell>
      <mat-cell *matCellDef="let file" (click)="openFile(file.fileNo)"> {{file.fileSubject}} </mat-cell>
    </ng-container>

    <!-- Department Column -->
    <ng-container matColumnDef="department">
      <mat-header-cell *matHeaderCellDef> Department </mat-header-cell>
      <mat-cell *matCellDef="let file" (click)="openFile(file.fileNo)"> {{file.department.departmentName}} </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let file">
        <button mat-icon-button color="primary" (click)="editFile(file)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteFile(file.fileNo)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="example-element-row" *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <!-- Row shown when there is no matching data. -->
    <ng-container *ngIf="isFilterApplied">
      <tr class="mat-row p-3 d-flex align-items-center justify-content-center"  *matNoDataRow>
        <td class="mat-cell" colspan="5">No data matching your search <strong> "{{input.value}}" </strong></td>
      </tr>
    </ng-container>

  </mat-table>

</mat-card>
