* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
.nav {
  padding: 10px 10px 10px 0;
  background-color: #f7f8fa;
  height: 100%;
  z-index: 10; /* Ensure it stays above other elements */
  background-color: #f7f8fa;
}

.nav .nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 0 25px 25px 0;
}

.nav .nav-item:hover {
  background-color: rgba(0, 92, 187, 0.2); /* Change the text color */
  border-radius: 0 15px 15px 0;
  transition: all ease-in-out .2s;
}

.nav-link {
  padding: 15px 20px;
  font-size: 18px;
  color: #494949;
  font-weight: 400;
}

fa-icon {
  font-size: 25px;
  padding: 10px 10px 10px 18px;
  width: 40px;
  color: #005cbb;
}

h3 {
  margin: 0;
  font-weight: 500;
  padding: 15px 0 15px 0;
  font-size: 18px;
  color: #84858a;
}

.active-link {
  background-color: rgba(0, 92, 187, 0.1); /* Change the text color */
  font-weight: bold; /* Make it bold */
  border-radius: 0 25px 25px 0  ;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}

.active-link:hover {
  background-color: rgba(0, 92, 187, 0.1);
}
