.compose-card {
  margin: 0;
  max-width: 1050px;
  padding: 0;
  width: 1040px;
  background-color: rgba(0, 92, 187, 0.05);
  box-shadow: none;
}
mat-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  color: #005cbb;
  border-bottom: solid 1px #005cbb;
}
button {
  border-radius: 25px;
  margin: 0 5px;
  padding: 0 20px;
}
button.request {
  color: #005cbb;
  background-color: transparent;
}
fa-icon {
  padding-right: 5px;
  color: #005cbb;
}
button.draft {
  color: #005cbb; background-color: transparent;
}
button.request:hover, button.draft:hover {
  background-color: rgba(0, 92, 187, 0.06);
}
mat-card-title {
  margin: 5px 0 0;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
}

mat-card-content{
  border-bottom: solid 1px #ddd;
  padding-top: 10px;
}
.memo-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}
.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
quill-editor {
  /*border: 1px solid #ccc;*/
  border-radius: 5px;
}
.form-control, .form-select {
  border-radius: 0;
}
mat-form-field {
  margin-bottom: 0;
  padding-bottom: 0;
}
