<mat-card class="compose-card">
  <div class="d-flex justify-content-between py-2">
    <h2 class="new">New memo</h2>
    <div class="options">
      <button mat-raised-button color="primary" class="request" (click)="openRequestFileDialog()"> <fa-icon [icon]="faPaperclip"/> Request for a file</button>
    </div>
  </div>

  <mat-card-content class="p-1">
    <form [formGroup]="memoForm" class="memo-form">

      <div class="d-flex flex-row gap-2">
        <!-- Recipients Section -->
        <mat-form-field class="w-50" appearance="fill" subscriptSizing="dynamic">
          <mat-label>Memo destination</mat-label>
          <mat-select formControlName="recipients">
            <mat-option *ngFor="let recipient of recipients" [value]="recipient">
              {{ recipient.position }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="flex-grow-1" appearance="fill" subscriptSizing="dynamic">
          <mat-label>File No.</mat-label>
          <mat-select formControlName="file">
            <mat-option *ngFor="let file of files" [value]="file">
              {{ file.fileNo }} [{{ file.fileTitle }}]
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <!-- Subject Section -->
      <mat-form-field appearance="fill" subscriptSizing="dynamic">
        <mat-label>Memo Subject</mat-label>
        <input matInput
               formControlName="subject"
               placeholder="Enter memo subject"
        />
      </mat-form-field>
      <!-- Body Section -->
      <div class="form-group">
        <quill-editor
          id="body"
          formControlName="body"
          [style]="{ height: '300px' }"
          [placeholder]="'Write your memo here...'"
          [modules]="editorModules"
        ></quill-editor>
        <!-- Action Buttons -->
        <div class="form-actions">
          <button
            mat-raised-button
            color="primary"
            [disabled]="memoForm.invalid"
            (click)="sendMemo()"
          >
            Send
            <fa-icon [icon]="faPaperPlane"></fa-icon>
          </button>
<!--          <button mat-flat-button type="button" (click)="saveDraft()">Save Draft</button>-->
        </div>
      </div>



    </form>

  </mat-card-content>
</mat-card>
