.compose-card {
  margin: 0;
  width: 99%;
  padding: 5px;
  background-color: white;
  height: 90%;
  border-radius: 15px;
}

.new {
  padding: 0 5px;
}

button {
  border-radius: 25px;
  margin: 0 5px;
  padding: 0 20px;

}
button.request {
  color: #005cbb;
  background-color: transparent;
}

fa-icon {
  margin-left: 5px;
}

button.request fa-icon {
  margin: 0 5px 0 0;
}
button.draft {
  color: #005cbb; background-color: transparent;
}
button.request:hover, button.draft:hover {
  background-color: rgba(0, 92, 187, 0.06);
}
mat-card-title {
  margin: 5px 0 0;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
}

mat-card-content{
  padding-top: 10px;
}
.memo-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}
.form-actions {
  display: flex;
  justify-content: end;
}

.form-control, .form-select {
  border-radius: 0;
}

h2 {
  color: #005cbb;
}

.mat-form-field-wrapper {
  padding: 0;
}

mat-form-field {
  margin: 0;
}
