<div class="dashboard-container d-flex flex-column w-100">
  <div class="card-container d-flex flex-column">
    <nav class="nav d-flex container-fluid justify-content-between align-items-center m-0 p-0">
      <h2 class="m-0 p-0 px-3">File Requests</h2>
      <div class="d-flex flex-row gap-1">
        <div class="d-flex flex-row gap-1">
          <button
            class="approved"
            mat-flat-button
            [routerLink]="['pending-requests']"
            [ngClass]="{ 'active-link': isActive('pending-requests') }"
          >
            Pending
          </button>
          <button
            class="approved"
            mat-flat-button
            [routerLink]="['approved-requests']"
            [ngClass]="{ 'active-link': isActive('approved-requests') }"
          >
            Approved
          </button>
          <button
            class="rejected"
            mat-flat-button
            [routerLink]="['rejected-requests']"
            [ngClass]="{ 'active-link': isActive('rejected-requests') }"
          >
            Rejected
          </button>
        </div>

      </div>

    </nav>

    <div class="d-flex flex-row align-items-start align-content-start">
      <!-- File Requests Section -->
      <div class="flex-grow-1">
        <router-outlet></router-outlet>
      </div>
      <!-- Dashboard Card Section -->
      <mat-card class="dashboard-card" appearance="outlined">
        <ngx-charts-bar-vertical
          [results]="fileRequestsStats"
          [view]="[150, 300]"
          scheme="air"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false">
        </ngx-charts-bar-vertical>
      </mat-card>
    </div>
  </div>
</div>
