.dashboard-container {
  width: 1050px;
  /*padding: 20px;*/
  /*background-color: #f9f9f9;*/
}
mat-toolbar {
  width: 100%;
}
.dashboard-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #3f51b5;
  text-align: center;
}

.card-container {
  width: 1050px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0;

}

.dashboard-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 0;
 background-color: transparent;
}

.dashboard-card:hover {
  background-color: #FFF;
}
nav {
  padding:10px 20px;
}
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row) {
  background-color: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background-color: #FFF;
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #FFF
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px 10px;
  border-top: solid 1px lightgrey;
  width: 100%;
  background-color: rgba(0, 17, 17, 0.02);
}
.example-element-description-attribution {
  opacity: 0.5;
}
mat-accordion {
  margin-bottom: 10px;
}
.actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-top: 15px;
  border-top: solid 1px lightgrey;
}
button.re {
  color: #ff4d4d;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.re mat-icon {
  font-size: 20px; /* Adjust icon size */
}

button.ap {
  color: #4caf50;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.5s ease-in-out;
}

button.ap:hover {
  transform: scale(1.1); /* Slightly enlarges the button */
}
button.re:hover {
  transform: scale(0.95); /* Shrinks the button */
  transition: transform 0.5s ease-in-out; /* Smooth transition effect */
}


.detail .left {
  border-bottom: solid 1px lightgrey;
  border-right: solid 1px lightgrey;
  padding: 10px;
}

.detail .right {
  padding: 10px;
  border-bottom: solid 1px lightgrey;
}
.detail .header {
 border-bottom: solid 1px #4caf50;
  font-weight: bold;
}
