<div class="files-container">
  <mat-tab-group>
    <mat-tab label="Recent files">
      <mat-list>
        <mat-list-item *ngFor="let folder of folders; trackBy: trackByFolder">
          <mat-icon matListItemIcon>folder</mat-icon>
          <div matListItemTitle>{{ folder.name }}</div>
          <div matListItemLine>{{ folder.updated | date }}</div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Your department files">
      <mat-list>
        <mat-list-item *ngFor="let folder of folders; trackBy: trackByFolder">
          <mat-icon matListItemIcon>folder</mat-icon>
          <div matListItemTitle>{{ folder.name }}</div>
          <div matListItemLine>{{ folder.updated | date }}</div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Other departments files">
      <mat-list>
        <mat-list-item *ngFor="let folder of folders; trackBy: trackByFolder">
          <mat-icon matListItemIcon>folder</mat-icon>
          <div matListItemTitle>{{ folder.name }}</div>
          <div matListItemLine>{{ folder.updated | date }}</div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</div>
