<mat-card class="d-flex file-card flex-column align-items-start p-3 bg-body-tertiary" appearance="outlined">
  <nav class="navbar bg-body-tertiary container-fluid">
    <div class="container-fluid m-0 p-0 py-2">
      <a routerLink="/user/dashboard/files/" class="btn btn-outline-dark btn-sm rounded-5"><fa-icon class="me-2 " [icon]="faAngleLeft"></fa-icon>Back</a>

      <a class="navbar-brand" >Recent Files</a>
    </div>
  </nav>

  <!-- Scrollable Row of Cards -->
  <div class="d-flex flex-row overflow-x-scroll gap-3 w-100">
    <mat-card class="example-card d-flex flex-column align-items-start" appearance="outlined">
      <mat-card-header class="d-flex align-items-start">
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Small</mat-card-subtitle>
          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{longText}}
      </mat-card-content>
      <mat-card-footer class="example-card-footer p-2">
        <mat-chip-set aria-label="Chihuahua traits">
          <mat-chip>charming</mat-chip>
          <mat-chip>graceful</mat-chip>
          <mat-chip>sassy</mat-chip>
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>

    <mat-card class="example-card d-flex flex-column align-items-start" appearance="outlined">
      <mat-card-header class="d-flex align-items-start">
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Small</mat-card-subtitle>
          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{longText}}
      </mat-card-content>
      <mat-card-footer class="example-card-footer p-2">
        <mat-chip-set aria-label="Chihuahua traits">
          <mat-chip>charming</mat-chip>
          <mat-chip>graceful</mat-chip>
          <mat-chip>sassy</mat-chip>
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>

    <mat-card class="example-card d-flex flex-column align-items-start" appearance="outlined">
      <mat-card-header class="d-flex align-items-start">
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Small</mat-card-subtitle>
          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{longText}}
      </mat-card-content>
      <mat-card-footer class="example-card-footer p-2">
        <mat-chip-set aria-label="Chihuahua traits">
          <mat-chip>charming</mat-chip>
          <mat-chip>graceful</mat-chip>
          <mat-chip>sassy</mat-chip>
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>

    <mat-card class="example-card d-flex flex-column align-items-start" appearance="outlined">
      <mat-card-header class="d-flex align-items-start">
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Small</mat-card-subtitle>
          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{longText}}
      </mat-card-content>
      <mat-card-footer class="example-card-footer p-2">
        <mat-chip-set aria-label="Chihuahua traits">
          <mat-chip>charming</mat-chip>
          <mat-chip>graceful</mat-chip>
          <mat-chip>sassy</mat-chip>
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>

    <mat-card class="example-card d-flex flex-column align-items-start" appearance="outlined">
      <mat-card-header class="d-flex align-items-start">
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Small</mat-card-subtitle>
          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{longText}}
      </mat-card-content>
      <mat-card-footer class="example-card-footer p-2">
        <mat-chip-set aria-label="Chihuahua traits">
          <mat-chip>charming</mat-chip>
          <mat-chip>graceful</mat-chip>
          <mat-chip>sassy</mat-chip>
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>

    <mat-card class="example-card d-flex flex-column align-items-start" appearance="outlined">
      <mat-card-header class="d-flex align-items-start">
        <mat-card-title-group>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Small</mat-card-subtitle>
          <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{longText}}
      </mat-card-content>
      <mat-card-footer class="example-card-footer p-2">
        <mat-chip-set aria-label="Chihuahua traits">
          <mat-chip>charming</mat-chip>
          <mat-chip>graceful</mat-chip>
          <mat-chip>sassy</mat-chip>
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>
  </div>
</mat-card>
