.manage-users-container {
  margin: 0 10px 0 0;
  background-color: #FFFFFF;
  border-radius: 15px;
  height: 90%;
  min-height: 90%;
  min-width: 99%;
  width: 99%;
}
mat-toolbar {
  background-color: transparent;
}

mat-paginator {
  background-color: transparent;
}

button {
  border-radius: 25px;
  margin-right: 5px;

}
button.register {
  background-color: #005cbb;
  color: white;
}

.add-user-btn {
  margin-top: 16px;
}
h3{
  color: #005cbb;
  margin: 0;
}
.mat-mdc-table {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}
mat-row.rower:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
