.example-tab-icon {
  margin-right: 8px;
}


.manage-users-container {
  width: 99%;
  margin: 0 0;
  background-color: #ffffff;
  border-radius: 15px;
  max-height: 90%;
  min-height: 90%;
  overflow: hidden;
}


.user-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
}
mat-paginator {
  background-color: transparent;
}
.user-card {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

button {
  border-radius: 25px;
}

table {
  width: 100%;
}
.cards {
  border-bottom: solid 1px #ddd;
  padding: 5px 10px;
}
.cards a , button.create {
  color: #005cbb;
  padding: 0 20px;
  border-radius: 25px;
  background-color: #FFF;
}
a.active {
  background-color: #337ab7;
  color: #f9f9f9;
}
.cards a:hover, button.create:hover {
  background-color: rgba(51, 122, 183, 0.02);
  color: #337ab7;
}
.add-user-btn {
  margin-top: 16px;
}

.no-files {
  min-width: 1000px;
  padding: 20px 0;
}

h2{
  color: #005cbb;
}

/* Structure */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

::ng-deep .mat-mdc-tab-header .mdc-tab {
  height: 50px !important;
}

::ng-deep .mat-mdc-tab .mdc-tab__text-label,
::ng-deep .mat-mdc-tab-link .mdc-tab__text-label {
  color: #005cbb !important;
  padding: 0;

}




