<mat-card class="manage-users-container" >
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon class="example-tab-icon" [icon]="faFolderClosed"></fa-icon>
        All files
      </ng-template>
      <app-files-list/>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon class="example-tab-icon" [icon]="faLock">thumb_up</fa-icon>
        File Access Control
      </ng-template>
      <app-access-control></app-access-control>
    </mat-tab>
  </mat-tab-group>
</mat-card>
