.m-logo {
  height: 45px;
  width: 50px;
  margin: 0;
  padding: 0;
}
.a-logo {
  height: 45px;
}
fa-icon {
  width: 100px;
  height: 100px;
  font-size: 25px;
  padding: 15px;
  border-radius: 15px;
}
fa-icon:hover{
  background-color: rgba(211, 211, 211, 0.35);
  cursor: pointer;
}
.navbar-brand.e-registry {
  font-weight: 600;
}
