.memo-tracker-container {
  width: 100%;
  min-width: 800px;

  margin: 0 ;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
}

h2 {
  text-align: left;
  display: block;
  padding: 10px 0;
  color: #005cbb;
}

mat-toolbar {
  background-color: transparent;
  padding: 0 20px;
  border-bottom: solid 1px lightgrey;
  width: 100%;
}

.track-item {
  padding: 0;
}

.select-from-recent {
  padding: 20px 0;
}
