<div class="memo-tracker-container">
  <mat-toolbar class="d-flex gap-5">
    <div class="d-flex flex-row align-content-center align-items-center justify-content-center">
      <h2 class="m-0 p-0">Track memo</h2>

    </div>
    <div class="container-fluid">
      <form class="d-flex" role="search">
        <input class="form-control rounded-5" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <div class="track-item">
    <div class="search-memo">
      <app-memos-list></app-memos-list>
    </div>
  </div>
<!--  <app-timeline [events]="memoTimeline"></app-timeline>-->
</div>
