
<mat-drawer-container class="example-container ">
  <mat-drawer #drawer class="example-sidenav" opened [style.width.px]="drawerSize" mode="side">
    <app-registry-sidebar></app-registry-sidebar>
  </mat-drawer>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div>
<!--        <fa-icon (click)="drawer.toggle()" matTooltip="menu" [icon]="faBars"></fa-icon>-->
      </div>
      <a class="navbar-brand" routerLink="/user/dashboard/home" ><img class="m-logo" ngSrc="assets/logo/e-registry-logo.png" alt="" height="1106" width="1392"></a>
<!--      <a class="navbar-brand e-registry text-primary" >E-REGISTRY</a>-->

      <div class="collapse navbar-collapse d-flex justify-content-between align-items-end" id="navbarSupportedContent">

        <form class="d-flex flex-grow-1 mx-5" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" matTooltip="notifications" href="#"><fa-icon [icon]="faBell">Notifications</fa-icon></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " matTooltip="sign out" aria-current="page" href="#"><fa-icon [icon]="faSignOut"></fa-icon></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="example-sidenav-content ">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
