<!--<mat-toolbar class="d-flex justify-content-between">-->
<!--  <span> <fa-icon class="me-2" [icon]="faFolderOpen"></fa-icon> Files</span>-->
<!--  <nav class="navbar">-->
<!--    <div class="container-fluid">-->
<!--      <form class="d-flex" role="search">-->
<!--        <input class="form-control form-control-sm me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success btn-sm" type="submit">Search</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </nav>-->
<!--</mat-toolbar>-->
<router-outlet></router-outlet>


