<ul class="nav flex-column gap-1 p-2">
  <li class="nav-item user" routerLinkActive="active" routerLink="/user/dashboard/compose">
    <fa-icon [icon]="faPencil"></fa-icon>
    <a class="nav-link active" aria-current="page">Compose</a>
  </li>
  <li class="nav-item user" routerLinkActive="active" routerLink="/user/dashboard/memo-trail">
    <fa-icon [icon]="faMapLocationDot"></fa-icon>
    <a class="nav-link active" aria-current="page">Track memo</a>
  </li>
  <li class="nav-item user" routerLinkActive="active" routerLink="/user/dashboard/user-profile">
    <fa-icon [icon]="faCircleUser"></fa-icon>
    <a class="nav-link active" aria-current="page">Mathew Mohan</a>
  </li>
  <li class="nav-item files" routerLinkActive="active" routerLink="/user/dashboard/files">
    <fa-icon [icon]="faFolderTree"></fa-icon>
    <a class="nav-link">Files</a>
  </li>
  <li class="nav-item memos" routerLinkActive="active" routerLink="/user/dashboard/memos">
    <fa-icon [icon]="faFileLines"></fa-icon>
    <a class="nav-link">Memos</a>
  </li>
  <li class="nav-item analytics" routerLinkActive="active" routerLink="/user/dashboard/analytics">
    <fa-icon [icon]="faChartSimple"></fa-icon>
    <a class="nav-link">Analytics</a>
  </li>
</ul>

<!--<div class="container p-2">-->
<!--  <h3>Recent activities</h3>-->
<!--  <div class="activity">-->
<!--    <div class="activity-icon">-->
<!--      <fa-icon [icon]="faClock"></fa-icon>-->
<!--    </div>-->
<!--    <div class="activity-content">-->
<!--      <p>Sent memo to chief accountant.</p>-->
<!--      <p class="time">5 minutes ago</p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="activity">-->
<!--    <div class="activity-icon">-->
<!--      <fa-icon [icon]="faClock"></fa-icon>-->
<!--    </div>-->
<!--    <div class="activity-content">-->
<!--      <p>Sent memo to chief accountant.</p>-->
<!--      <p class="time">5 minutes ago</p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="activity">-->
<!--    <div class="activity-icon">-->
<!--      <fa-icon [icon]="faClock"></fa-icon>-->
<!--    </div>-->
<!--    <div class="activity-content">-->
<!--      <p>Sent memo to chief accountant.</p>-->
<!--      <p class="time">5 minutes ago</p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="activity">-->
<!--    <div class="activity-icon">-->
<!--      <fa-icon [icon]="faClock"></fa-icon>-->
<!--    </div>-->
<!--    <div class="activity-content">-->
<!--      <p>Sent memo to chief accountant.</p>-->
<!--      <p class="time">5 minutes ago</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
